/* Universal Styles */
html {
  font-family: 'Lato', sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  color: #4d4d4d;
  font-size: 18px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.333rem;
}

a {
  text-decoration: none;
}

/* Header styles */

header {
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo and name at top left */

#logo-name {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.1rem;
}

#logo-name img {
  height: 50px;
  margin-top: .125rem;
}

#logo-name span {
  letter-spacing: 0.05rem;
}

#colmar {
  font-weight: 700;
}

#academy {
  color: #ccc;
}

/* Main nav at top right */

#main-nav {
  display: flex;
  margin-right: 1.5rem;
}

nav ul li a {
  padding-left: 16px;
  color: #4d4d4d;
}

#mobile-nav {
  display: none;
}

/* Banner section */

#banner {
  width: 100%;
  background-color: #ccc;
  display: flex;
}

#banner-img {
  width: 60%;
  overflow: hidden;
}

#banner img {
  margin: 1.777rem 0 1.777rem 1.5rem;
  width: 100%;
}

#banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-left: 2.222rem
}

#banner-text p {
  margin: 18% 0;
  font-size: 1.8rem;
}

#banner button {
  width: 100%;
  padding: .5rem 0;
  font-size: 1rem;
  color: white;
  background-color: #4d4d4d;
  border: none;
}

/* Info section and right aside */

#info {
  background-color: white;
  display: flex;
}

#highlight {
  width: 60%;
  margin: 1.777rem 1.333rem 0 1.333rem;
}

#highlight img {
  width: 100%;
  height: auto;
}

#highlight h1 {
  margin: 1.777rem 0 1.333rem 0;
}

#highlight p {
  margin-bottom: 1.777rem;
  line-height: 1.2;
}

#highlight p:last-child {
  font-size: .8rem;
  margin-bottom: 2rem;
}

#features {
  width: 35%;
}

.feature {
  display: flex;
  align-items: center;
  height: 30%;
}

.feature img {
  width: 35%;
  height: auto;
  margin: .888rem .888rem;
}

.feature-text h2, .feature-text p {
  margin-bottom: .444rem; /* 8px */
}

.feature-text a {
  color: cornflowerblue;
}

.feature-img-mobile {
  display: none;
}

#lecture {
  background-color: #ccc;
}

/* Classes section */

#classes {
  background-color: gainsboro;
}

#classes h1, #thesis h1 {
  text-align: center;
  padding: 1.777rem 0;
}

#class-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  width: 25%;
  background-color: white;
  margin: 0 1rem 1rem 1rem;
  height: auto;
}

.course img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.course h2, .course h3, .course p {
  margin-left: 1rem;
}

.course h2 {
  margin-top: .9rem;
}

.course h3 {
  font-weight: normal;
}

.course p {
  margin-bottom: .75rem;
  margin-right: 1rem;
  line-height: 1.4;
  font-size: 1.2rem;
}

nav#mobile-class-nav {
  display: none;
}

/* Thesis section */

#thesis-container {
  display: flex;
}

#video {
  margin: 0 .9rem 1.777rem 1.333rem;
  width: 60%;
}

video {
  width: 100%;
  height: auto;
  margin-bottom: 1.333rem;
}

#thesis-detail-container {
  width: 35%;
}

.thesis-detail {
  display: flex;
  align-items: center;
  height: auto;
}

.thesis-detail img {
  margin: .9rem;
  width: 35%;
  height: auto;
}

.thesis-detail-text h2, .thesis-detail-text p {
  margin-bottom: .7rem; /* 8px */
}

#showcase {
  background-color: #ccc
}

#video h2 {
  margin-bottom: 1.333rem;
}
#video p {
  line-height: 1.2;
}

/* Footer section */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

footer p {
  margin-left: 1.333rem;
}

footer ul {
  margin-right: 1rem;
}

footer ul li {
  display: inline;
}

/* Media queries */
@media screen and (max-width: 480px) {
  header, #banner {
    display: block;
  }

  #logo-name, #main-nav, div#highlight, .feature img, div.course, #thesis-detail-container, #video h2, #video p, footer nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.333rem 0;
  }

  ul#mobile-nav li a img {
    height: 40px;
  }

  #banner-img {
    background-color: #4d4d4d;
  }

  #banner-img img {
    visibility: hidden;
    height: 180px;
  }

  #banner-img, #banner-text {
    width: auto;
  }

  #banner-text {
    margin: 0 .9rem;
  }

  #banner-text h1 {
    line-height: 1.5;
    margin: 1.777rem 0;
  }

  #banner-text p {
    margin: 0 0 1.333rem 0;
  }

  #banner-text button {
    height: 2rem;
    padding: 0;
    margin-bottom: 1.777rem;
  }

  section#features, section#classes, section#thesis, footer nav ul {
    background-color: #F3F5F5;
  }

  #features {
    width: 100%;
  }

  .feature {
    display: block;
    margin: .9rem .9rem 0 .9rem;
    overflow: hidden;
  }

  #lecture {
    background-color: #F3F5F5;
  }

  .feature img {
    margin: 0;
  }

  img.feature-img-mobile {
    display: block;
    width: 100%;
    margin-bottom: .9rem;
  }

  .feature-text {
    height: 8rem;
  }

  .feature-text h2 {
    margin-top: .5rem;
  }

  .feature-text p {
    line-height: 1.4;
  }

  #class-container {
    display: block;
  }

  nav#mobile-class-nav {
    display: block;
  }

  #mobile-class-nav ul li {
    padding: .9rem 0 .9rem .9rem;
    background-color: #ccc;
    margin: .6rem;
    width: 91%;
  }

  #mobile-class-nav ul li a {
    font-weight: bold;
  }

  #video {
    width: 90%;
  }

  footer {
    padding: .9rem 0;
  }

}
