/* Universal Styles */
html {
  font-family: 'Lato', sans-serif;
  max-width: 1560px;
  margin: 0 auto;
  color: #4d4d4d;
  font-size: 18px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.333rem;
}

div {
  border: 1px solid red;
}

a {
  text-decoration: none;
}

/* Header styles */

header {
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo and name at top left */

#logo-name {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.1rem;
}

#logo-name img {
  height: 50px;
  margin-top: .125rem;
}

#logo-name span {
  letter-spacing: 0.05rem;
}

#colmar {
  font-weight: 700;
}

#academy {
  color: #ccc;
}

/* Main nav at top right */

#main-nav {
  display: flex;
  margin-right: 1.5rem;
}

nav ul li a {
  padding-left: 16px;
  color: #4d4d4d;
}

/* Banner section */

#banner {
  width: 100%;
  background-color: #ccc;
  display: flex;
}

#banner img {
  width: 60%;
  margin: 1.777rem 2.222rem 1.777rem 1.5rem;
  height: auto;
}

#banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 32%;
}

#banner h1, #highlight h1, #classes h1 {
  font-weight:900;
}

#banner p {
  margin: 18% 0;
  font-size: 1.8rem;
}

#banner button {
  width: 100%;
  padding: .5rem 0;
  font-size: 1rem;
  color: white;
  background-color: #4d4d4d;
  border: none;
}

/* Info section and right aside */

#info {
  background-color: white;
  display: flex;
}

#highlight {
  width: 60%;
  margin: 1.777rem 1.333rem 0 1.333rem;
}

#highlight img {
  width: 100%;
  height: auto;
}

#highlight h1 {
  margin: 1.777rem 0 1.333rem 0;
}

#highlight p {
  margin-bottom: 1.777rem;
  line-height: 1.2;
}

#highlight p:last-child {
  font-size: .8rem;
  margin-bottom: 2rem;
}

#features {
  width: 30%;
}

.feature {
  display: flex;
  align-items: center;
  height: 30%;
}

#features img {
  width: 35%;
  height: auto;
  margin: .888rem .888rem;
}

.feature-text h2, .feature-text p {
  margin-bottom: .444rem; /* 8px */
}

.feature-text a {
  color: cornflowerblue;
}

#lecture {
  background-color: #ccc;
}

/* Classes section */

#classes {
  background-color: gainsboro;
}

#classes h1 {
  text-align: center;
  padding: 1.777rem 0;
}

#class-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.class {
  width: 25%;
  background-color: white;
  margin: 0 1rem 1rem 1rem;
  height: auto;
}

.class img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.class h2, h3, p {
  margin-left: 1rem;
}

.class h3 {
  font-weight: normal;
}

.class p {
  margin-bottom: .75rem;
  margin-right: 1rem;
  line-height: 1.4;
  font-size: 1.2rem;
}
